# **Extract, Tranform, dan Load (ETL)**

ETL --> proses untuk memindahkan data dari satu tempat ke tempat lain (dari sumber data ke data warehouse)

In [4]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost/staging')
conn1 = engine.connect()
%sql postgresql://postgres:postgres@localhost:5432/staging

## Load Data Source

In [6]:
df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')

In [7]:
df_participant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   participant_id  5000 non-null   object
 1   first_name      5000 non-null   object
 2   last_name       5000 non-null   object
 3   birth_date      5000 non-null   object
 4   address         5000 non-null   object
 5   phone_number    5000 non-null   object
 6   country         5000 non-null   object
 7   institute       5000 non-null   object
 8   occupation      5000 non-null   object
 9   register_time   5000 non-null   float64
dtypes: float64(1), object(9)
memory usage: 390.8+ KB

**information columns :** 
1. participant_id : unique value merupakan id participant
2. first_name     : nama depan peserta
3. last_name      : nama belakang peserta
4. birth_date     : informasi tanggal lahir peserta
5. phone_number   : informasi nomor telepon peserta
6. country        : informasi negara asal peserta
7. institute      : informasi institusi peserta
8. occupation     : informasi pekerjaan peserta saat ini
9. register_time  : informasi waktu peserta mendaftar dalam second

## Transform

### 1. Transform Kode Pos dari Atribut Alamat

Atribut Alamat memiliki informasi Nama Jalan, Kabupaten/Kota, Provinsi, dan Kode Pos. Kode Pos merupakan 5 angka yang berada di belakang alamat. Untuk ekstrak kode pos ini akan digunakan fungsi ekstrak dan regex

In [8]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$')

In [9]:
df_participant[['address', 'country', 'postal_code']].head(5)

                                             address      country postal_code
0           Gg. Monginsidi No. 08\nMedan, Aceh 80734      Georgia       80734
1     Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434  Korea Utara       09434
2             Jalan Kebonjati No. 0\nAmbon, SS 57739       Komoro       57739
3    Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156      Eritrea       76156
4  Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...     Aljazair       70074

### 2. Ekstract City Name dari Column Address

Nama kota dapat kita ekstrak dari kolom adress, kita asumsikan kata nama kota berada setelah '\n' dan sebelum tanda koma. Untuk ekstrak nama kota akan menggunakan regex (?<=\n)(\w.+)(?=,)

In [10]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')

In [11]:
df_participant = df_participant.replace({r'\s+$': '', r'^\s+': ''}, regex=True).replace(r'\n',  ' ', regex=True)

In [12]:
df_participant[['address', 'country', 'postal_code','city']].head()

,address,country,postal_code,city
0,"Gg. Monginsidi No. 08 Medan, Aceh 80734",Georgia,80734,Medan
1,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",Korea Utara,09434,Prabumulih
2,"Jalan Kebonjati No. 0 Ambon, SS 57739",Komoro,57739,Ambon
3,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",Eritrea,76156,Lubuklinggau
4,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",Aljazair,70074,Kediri

### 3. Ekstract Link Github From Each Participant

Kita asumsikan setiap participant memiliki github dengan nama panjangnya

In [13]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()

In [14]:
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08 Medan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0 Ambon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti

### 4. Cleansing Column Phone Number

Melakukan penyeragaman nomor telepon agar memiliki format yang sama. 
1. Apabila nomor hp berupa angka 62 atau +62 akan diterjemahkan ke 0
2. Menghilangkan tanda baca kurung buka, kurung tutup, strip
3. Pada phone number seharusnya tidak ada spasi untuk pemisah setiap nomor

In [15]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['phone_number_new'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
df_participant['phone_number_new'] = df_participant['phone_number_new'].str.replace(r'[()-]', '')
df_participant['phone_number_new'] = df_participant['phone_number_new'].str.replace(r'\s+', '')

C:\Users\USER\AppData\Local\Temp/ipykernel_143712/1634017234.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['phone_number_new'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
C:\Users\USER\AppData\Local\Temp/ipykernel_143712/1634017234.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['phone_number_new'] = df_participant['phone_number_new'].str.replace(r'[()-]', '')
C:\Users\USER\AppData\Local\Temp/ipykernel_143712/1634017234.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['phone_number_new'] = df_participant['phone_number_new'].str.replace(r'\s+', '')

In [16]:
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,phone_number_new
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08 Medan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0 Ambon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835

### 4. Define Team Name

Mendefinisikan nama tim dari masing-masing peserta 
first_name, last_name, country, dan institute.

In [17]:
def team_name(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(team_name, axis=1)

In [18]:
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,phone_number_new,team_name
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08 Medan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0 Ambon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR

### 5. Transform Email

Dibutuhkan informasi berupa email, namun informasi tersebut belum tersedia sehingga email akan didefinisikan sebagai berikut: 
    - format email: 
        xxyy@aa.bb.[ac/com].[cc]
        dengan: 
        ` xx --> first_name (lowercase) ` ,
        ` yy --> last_name (lowercase) ` ,
        ` aa --> institusi `,
        ` cc --> negara asal peserta `.
        ` ac/com --> apabila universitas (ac), apabila institusi (com)`
       
    - nilai bb dan cc mengikuti nilai dari aa. aturannya: 
      - Jika institusi merupakan Universitas, maka 
        bb --> gabungan dari huruf pertama pada setiap kata dari nama Universitas dalam lowercase.

In [19]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)

In [20]:
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,phone_number_new,team_name,email
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08 Medan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0 Ambon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com

### 6. Transform Birth Date menjadi format yang sama

In [21]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')

In [22]:
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,phone_number_new,team_name,email
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08 Medan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0 Ambon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com

### 7. Transform Competition Register Time

Mengubah tipe column register_time menjadi DATETIME (YYYY-MM-DD HH:mm:ss)

    - YYYY: year
    - MM  : Month
    - DD  : Day
    - hh  : Hour
    - mm  : Minute
    - ss  : Second

In [23]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,phone_number_new,team_name,email,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08 Medan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0 Ambon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com,2021-04-05 14:46:50

*Tambahan

### 8. Extract Latitude, Longitude

#### 5.1 Extract Latitude, Longitude from address

In [24]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim



# lat = []
# long = []
# contoh = df_participant.copy()
# for row in contoh['address']:
#     addr = geolocator.geocode(row, timeout=10)
#     if addr:
#         latitude = addr.latitude
#         longitude = addr.longitude
#     else:
#         latitude = None
#         longitude = None  
    
#     lat.append(latitude)
#     long.append(longitude)

# contoh['latitude'] = lat
# contoh['longitude'] = long
# contoh

### 7. Memilih kolom yang diperlukan

In [25]:
df_participant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   participant_id    5000 non-null   object
 1   first_name        5000 non-null   object
 2   last_name         5000 non-null   object
 3   birth_date        5000 non-null   datetime64[ns]
 4   address           5000 non-null   object
 5   phone_number      5000 non-null   object
 6   country           5000 non-null   object
 7   institute         5000 non-null   object
 8   occupation        5000 non-null   object
 9   register_time     5000 non-null   float64
 10  postal_code       5000 non-null   object
 11  city              5000 non-null   object
 12  github_profile    5000 non-null   object
 13  phone_number_new  5000 non-null   object
 14  team_name         5000 non-null   object
 15  email             5000 non-null   object
 16  register_at       5000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(14)
memory usage: 664.2+ KB

In [26]:
df_participant_cop = df_participant[['participant_id','first_name','last_name','birth_date','address','city','postal_code','phone_number_new','country','institute','occupation','email','team_name','register_at']].copy()

In [27]:
df_participant_cop.head()

,participant_id,first_name,last_name,birth_date,address,city,postal_code,phone_number_new,country,institute,occupation,email,team_name,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08 Medan, Aceh 80734",Medan,80734,01510812706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,citranurdiyanti@upm.com,CN-Georgia-UPM,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7 Prabumulih, MA 09434",Prabumulih,09434,00364617027,Korea Utara,Universitas Diponegoro,Frontend Engineer,arissetiawan@ud.ac.ku,AS-Korea Utara-UD,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0 Ambon, SS 57739",Ambon,57739,0898336695,Komoro,UD Hardiansyah Puspasari,Business Analyst,corneliahandayani@uhp.com,CH-Komoro-UHP,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156",Lubuklinggau,76156,04183294756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,solehrajasa@pty.com,SR-Eritrea-PTY,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53 Kediri, Sulawesi Tengah...",Kediri,70074,0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,viviastuti@phr.com,VA-Aljazair-PHR,2021-04-05 14:46:50

### Store Data to Database

In [29]:
# df_participant.to_sql(con=conn1, name='tbl_participant', schema='public', index=True)

In [31]:
%%sql

select * from tbl_participant
limit 5

 * postgresql://postgres:***@localhost:5432/staging
5 rows affected.

[(0, 'bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a', 'Citra', 'Nurdiyanti', datetime.datetime(1991, 2, 5, 0, 0), 'Gg. Monginsidi No. 08 Medan, Aceh 80734', '(0151) 081 2706', 'Georgia', 'UD Prakasa Mandasari', 'Business Intelligence Engineer', 1617634046.0, '80734', 'Medan', 'https://github.com/citranurdiyanti', '01510812706', 'CN-Georgia-UPM', 'citranurdiyanti@upm.com', datetime.datetime(2021, 4, 5, 14, 47, 26)),
 (1, '7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3', 'Aris', 'Setiawan', datetime.datetime(1993, 1, 11, 0, 0), 'Gg. Rajawali Timur No. 7 Prabumulih, MA 09434', '+62 (036) 461 7027', 'Korea Utara', 'Universitas Diponegoro', 'Frontend Engineer', 1617634018.0, '09434', 'Prabumulih', 'https://github.com/arissetiawan', '00364617027', 'AS-Korea Utara-UD', 'arissetiawan@ud.ac.ku', datetime.datetime(2021, 4, 5, 14, 46, 58)),
 (2, '19582d7f-b824-4fe5-a517-d5bf573fc768', 'Cornelia', 'Handayani', datetime.datetime(1993, 7, 31, 0, 0), 'Jalan Kebonjati No. 0 Ambon, SS 57739', '089 833 6695', 'Komoro', 'UD Hardiansyah Puspasari', 'Business Analyst', 1617634035.0, '57739', 'Ambon', 'https://github.com/corneliahandayani', '0898336695', 'CH-Komoro-UHP', 'corneliahandayani@uhp.com', datetime.datetime(2021, 4, 5, 14, 47, 15)),
 (3, 'aeb6d817-25f3-4867-8a74-8d92e0a0f633', 'Soleh', 'Rajasa', datetime.datetime(1991, 11, 4, 0, 0), 'Jl. Yos Sudarso No. 109 Lubuklinggau, SR 76156', '+62 (418) 329-4756', 'Eritrea', 'Perum Tampubolon Yuliarti', 'DevOps Engineer', 1617634034.0, '76156', 'Lubuklinggau', 'https://github.com/solehrajasa', '04183294756', 'SR-Eritrea-PTY', 'solehrajasa@pty.com', datetime.datetime(2021, 4, 5, 14, 47, 14)),
 (4, '1fdabdd9-5444-4c97-87b2-fe8833ad0d27', 'Vivi', 'Astuti', datetime.datetime(2003, 1, 22, 0, 0), 'Jalan Gardujati No. 53 Kediri, Sulawesi Tengah 70074', '0812511835', 'Aljazair', 'PT Hardiansyah Rahimah', 'Data Analyst', 1617634010.0, '70074', 'Kediri', 'https://github.com/viviastuti', '0812511835', 'VA-Aljazair-PHR', 'viviastuti@phr.com', datetime.datetime(2021, 4, 5, 14, 46, 50))]